/* (0-575) 1rem=*/
@media screen and (max-width: 575px) { 
    .container {
        max-width: 100%;
    }
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.67%;
    }

    .col-3 {
        width: 25.00%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.67%;
    }

    .col-6 {
        width: 50.00%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.67%;
    }

    .col-9 {
        width: 75.00%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.67%;
    }

    .col-12 {
        width: 100.00%;
    }

    .heder-container {
        max-width: 60%;
    }

}

@media screen and (max-width: 991px) {
}

/* (576-767) sm */
@media screen and (min-width: 576px) {
}

/* (768-991) md */
@media screen and (min-width: 768px) {
    .heder-container {
        max-width: 100%;
    }
}

/* (992-1199) lg */
@media screen and (min-width: 992px) {
}

/* (1200-1399) xl */
@media screen and (min-width: 1200px) {
}

/* (1400-any) xxl  */
@media screen and (min-width: 1400px) {
} 