* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.heder-container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding-top: 1rem;
}

button:not(:disabled) {
    background-color: white;
}

.abc {
    display: flex;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: white;
    width: 100%;
    height: 10rem;
}

header::after {
    background: transparent;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

header nav ul li a {
    font-family: "Oswald";
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding: 0 1rem;

}

header nav ul li a:hover {
    color: red;
}

.heder-container img {
    height: 8rem;
    max-width: 24%;
}

.container {
    width: 100%;
}

/* ***********hero********* */
#hero {
    position: relative;
}

.heroslider {
    position: relative;
}

.heder-detail {
    position: absolute;
    z-index: 999;
    top: 5rem;
    left: 6rem;
    max-width: 80%;

}

.heroslider img {
    width: 100%;
    height: 100vh;
}

.heroslider .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
}

.heroslider .swiper-pagination-bullet-active {
    background: #aaa;
    color: white;
    width: 1rem;
    height: 1rem;
}

.heroslider .swiper-slide {
    text-align: center;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
}

.heder-detail h2 {
    font-size: 11.5rem;
    color: white;
    padding-top: 7rem;
    font-weight: bold;
    font-family: "Lilita One";
    text-align: center;
}

.heder-detail p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2rem;
    font-weight: bold;
}

.heder-detail p span {
    color: #f7be27;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Oswald";

}

.layer {
    position: absolute;
    height: 4rem;
    z-index: 999;
    position: fixed;
    height: 5rem;
    padding: 1rem;
    border-radius: 6px;
    top: 10rem;
    right: 0;
    font-size: 1.6rem;
    background-color: red;
    color: white !important;
}

.layer i {
    color: white;
}

.layer1 {
    opacity: 0;
}

/* *********about******************* */

#about {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.img {
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.img img {
    height: 60rem;
}
.img-data h2 {
    color: #642f21;
    padding-bottom: 2rem;
    font-size: 6.4rem !important;
    font-weight: 500;
    padding-left: 3rem !important;
    font-family: "Oswald";
    padding-top: 8rem;
}

.img-data p {
    color: #757575;
    font-size: 1.8rem;
    padding-left: 3rem;
}

.foods {
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;

}

.foods img {
    height: 10rem;
    padding: 1rem;
}

.foods p {
    font-size: 1.9rem;
    color: black;
    font-family: "Oswald";
}

/* *********burger-fries********** */

#burger-fries {
    padding-bottom: 5rem;
}

.burger123 {
    width: 58%;
}

.bgdata {
    display: flex;
    justify-content: space-between;
    row-gap: 2rem;
}

.chees-fries {
    position: relative;
    background-image: url(../img/pb-2-1.jpg);
    height: 36rem;
}


.chees-fries-data {
    border-radius: 1.4rem;
    position: absolute;
    top: 8rem;
    right: 4rem;
}

.chees-fries-data h2 {
    color: #6f5e4d;
    font-family: "Oswald";
    font-size: 4.5rem;
    font-weight: 300;
    text-align: right;
    border-radius: 6px;
}

.chees-fries-data h3 {
    color: #6f5e4d;
    font-family: "Oswald";
    font-size: 4.5rem;
    font-weight: bold;
}

.common-btn {
    height: 4.7rem;
    width: 100%;
    border: none;
    background-color: red !important;
    font-family: "Oswald";
    color: white;
    font-weight: bold;
    font-size: 2.2rem;
    margin-top: 2rem;
    position: relative;
}

.common-btn::before {
    transition: all 1s;
    background-color: white;
    color: red;
    top: 0;
    left: 0;
    position: absolute;
}

.burger-back {
    position: relative;
    background-image: url(../img/pb-2-2.jpg);
    height: 36rem;
}

.burger-back-data {
    position: absolute;
    top: 0rem;
    right: 4rem;

}

.burger-back-data h2 {
    color: #6f5e4d;
    padding-top: 7rem;
    font-family: "Oswald";
    font-size: 4.5rem;
    font-weight: 300;

}

.burger-back-data h1 {
    color: #6f5e4d;
    font-family: "Oswald";
    font-size: 4.5rem;
    font-weight: bold;

}

/* ******8menu************ */

#menu h2 {
    color: #e3000e;
    font-size: 3.7rem;
    text-align: center;
    font-family: "Oswald";
    text-transform: uppercase;

}

.sub-title {
    color: #888;
    font-size: 1.5rem;
    text-align: center;
    max-width: 43rem;
    margin: 0 auto;
    padding: 1rem 0 3rem;
    font-family: 'Roboto';
    font-weight: 300;
}

.burgur-menu {
    row-gap: 3rem;
}

.menu-data {
    display: flex;
}

.menus-data {
    height: auto;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
}

.money-data {
    padding: 0 1.4rem 1.5rem 1.4rem;
}

.imges-data img {
    width: 100%;
    border-radius: 0.6rem 0.6rem 0 0;
    position: relative;
    overflow: hidden;
}

.imges-data {
    position: relative;
    overflow: hidden;
}

.imges-data span {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, .4);
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    color: white;
    border-radius: 0.5rem;
}

.imges-data img:hover {
    transform: scale(1.2);
    transition: all 1s;
    top: 0;
    bottom: 0;
}

.menu-star {
    padding: 1rem;
    display: flex;
}

.menu-star i {
    color: #f7be27;
    font-size: 1.4rem;
}


.menu-star a i {
    color: #aaa;
    font-weight: 500;
    float: right;
    font-size: 2rem;
    padding-left: 15rem;
}

.menu-star a i:hover {
    color: red;

}

.menu-star h3 {
    font-family: "Oswald";
    color: #642f21;
    font-weight: 500;
    font-size: 1.6rem;
    padding: 1rem 0 1.2rem 0;
}

.money-data .cilli {
    color: #757575;
    font-size: 1.6rem;
}

.money-data .money {
    height: 3.5rem;
    width: 28%;
    background-color: #642f21;
    border-radius: 0.7rem;
    font-size: 1.9rem;
    text-align: center;
    color: #f7be27;
    font-weight: bold;
}

/* *****the-county*********** */

#the-county {
    background-image: url(../img/backyellow.jpg);
    margin-top: 8rem;
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
}

.county-data {
    padding: 5rem 0 5rem 0;
    float: left;
}

.county-data h3 {
    font-size: 3rem;
    font-weight: 500;
    color: white;
    font-family: "Oswald";
    text-transform: uppercase;
}

.county-data h2 {
    font-size: 6rem;
    font-weight: 500;
    color: white;
    font-family: "Oswald";
    text-transform: uppercase;
}

.county-data p {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    font-family: "Roboto";
    text-align: left;
}

.common-btns {
    height: 4.7rem;
    width: 37%;
    border: none;
    background-color: red !important;
    font-family: "Oswald";
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
    margin-top: 0.60rem;

}


.burgers-img {
    position: relative;
    text-align: center;
}

.the-county-data {
    display: flex;
    align-items: center;
}

.circlered {
    position: relative;
    padding: 5rem 0rem;
}

.burgers-img img {
    width: 80%;
}

.red-circle {
    background-image: url(../img/red.png);
    top: 5rem;
    right: 0rem;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: red;
    height: 20rem;
    width: 19rem;
}

.circle-data {
    color: white;
    text-align: center;
    font-family: "Oswald";
    padding-top: 2rem;

}

.circle-data h2 {
    font-family: "Oswald";
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;

}

.circle-data h2 {
    font-size: 2rem;
    padding-top: 2rem;
}


.circle-data h3 {
    font-size: 4rem;
}

.circle-data p {
    font-size: 1.5rem;
}

.box-burger {
    border: 2px solid rgba(255, 255, 255, .5);
    background-color: transparent;
    border-radius: 6px;
    padding: 3rem;
    margin-bottom: 2.4rem;

}

.box-burger:hover {
    background-color: #f7be27;
}

.box-burger img {
    height: 10rem;
}

.box-burger h2 {
    color: white;
    font-size: 1.4rem;
    text-align: center;
    padding-top: 1rem;
}

/* ************salad*******************8 */

#salad {
    padding-bottom: 8rem;
    padding-top: 8rem;

}

.sal-img {
    text-align: center;
}

.salad-data {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.sal-img img {
    height: 6rem;
}

.sal-img img:hover {
    color: #e3000e;
}

.sal-img h2 {
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
    font-family: "Oswald";


}




.salad-img {
    display: flex;
    justify-content: space-between;
}

.imgsalad {
    border: 1px solid #e5e5e5;
    padding: 2.5rem 1.4rem 2rem;
    border-radius: 0.6rem;
    position: relative;

}

.imgsalad img {
    height: auto;
    width: 100%;
}



.pay {
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
}

.money {
    background-color: #642f21;
    border-radius: 0.7rem;
    font-size: 1.9rem;
    text-align: center;
    color: #f7be27;
    font-weight: bold;
    padding: 0.5rem;
    margin-right: 1.8rem;

}

.pay i {
    float: right;
    align-items: center;
}

.heart-ican {
    position: absolute;
    top: 0.5rem;
    right: 0.6rem;
}

.heart-ican a i {
    color: #757575;
    font-size: 2rem;
}

.add-to-cart {
    padding: 1.5rem;
}

.i-star {
    padding-top: 0.8rem;
    color: #f7be27;
    font-size: 1.5rem;
}

.add-to-cart h2 {
    color: #642f21;
    font-size: 2rem;
    font-family: "Oswald";
    text-align: center;
    text-transform: uppercase;
}

.add-to-cart p {
    color: #283034;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
}

.add {
    height: 5rem;
    width: 100%;
    color: black;
    font-family: "Oswald";
    padding: 1rem;
    border: 2px solid #aaa;
    background-color: white;
    font-size: 1.5rem;
}

.add img {
    height: 3rem;
}

.add:hover {
    background-color: #f7be27;
}

/* ***********back*********** */

#back {
    background-image: url(../img/background1img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 10rem;
}

.p-data {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    /* padding-top: 4rem; */
}

.document-slider .swiper-slide {
    text-align: center;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.document-slider .swiper-slide img {
    display: block;
    object-fit: cover;
    /* margin-top: 5rem; */
}

.document-slider .swiper-slide::after {
    content: " ";
    display: block;
    clear: both;
}

.p-data p {
    color: white;
    text-align: center;
    font-size: 2rem;
    max-width: 55%;
    text-align: center !important;
    margin: 0 auto;
    padding-top: 2rem;
    line-height: 3rem;
    padding-bottom: 1rem;
}

.document-slider .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    /* margin-top: 3rem; */


}

.document-slider .swiper-pagination-bullet-active {
    background: gray;
    width: 1rem;
    height: 1rem;
    border: 1px solid gainsboro;

}

.p-data img {
    margin: 0 auto;
    height: 11rem;
    width: 11rem;
    border-radius: 50%;

}

.p-data i {
    color: #f7be27;
    padding-top: 1.5rem;
}

.p-data h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: white;
    padding-top: 1rem;
    font-family: "Oswald";
    padding-bottom: 4rem;
}


/* **********tuna*************** */

.tuna-datas {
    display: flex;
    justify-content: space-between;
    row-gap: 2rem;
    margin-bottom: 5rem;
}

.tuna-detail {
    display: flex;
    position: relative;
    overflow: hidden;
}

.tuna-detail img {
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
    overflow: hidden;
    transition: all 1s;
}

.dd {
    overflow: hidden;
    width: 100%;
}

.tuna-detail:hover img {
    transform: scale(1.1);



}


.tuna-detail span {
    top: 1rem;
    left: 2.8rem;
    position: absolute;
    z-index: 999;
    background-color: #f7be27;
    color: white;
    padding: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1.6rem;
}

.crispy {
    padding: 0.6rem;
}

.crispy h2 {
    color: #642f;
    font-size: 2rem;
    font-family: "Oswald";

}

.crispy p {
    font-size: 1.5rem;
    color: #888;

}

/* &&&&&&&&&&burger-offe%%% */

.abcd {
    justify-content: space-between;
    display: flex;
    row-gap: 1rem;
}

.wer img {
    width: 100%;
    height: 37rem;
    margin-bottom: 2rem;
    border-radius: 0.6rem 0.6rem 0.6rem 0.6rem;
}

.fffer-img {}

.wer {
    border-radius: 0.6rem;
    overflow: hidden;
    height: 25rem;
}

.wer img {
    width: 100%;
    height: 100%;
}

.wer:hover img {
    transform: scale(1.1);
    transition: all 1s;
    overflow: hidden;
    border-radius: 0.6rem;
}

/* ******best-offer************ */

.main-title {
    text-align: center;
    color: #e3000e;
    font-size: 4rem;
    padding-top: 5rem;
    font-family: "Oswald";

}

.off-bug {
    row-gap: 1rem;
}

.crispy-data {
    position: relative;
    overflow: hidden;
    border-radius: 0.6rem;
}

.crispy-data span {
    position: absolute;
    z-index: 999;
    top: 1rem;
    left: 1rem;
    background-color: rgba(10, 10, 10, .4);
    color: white;
    padding: 0.5rem;
    border-radius: 0.6rem;
    font-size: 1.4rem;
}

.crispy-data img {
    width: 100%;
    border-radius: 0.6rem;
    height: 28rem;
    overflow: hidden;

}

.crispy-data img:hover {
    transition: all 1s;
    transform: scale(1.2);
    border-radius: 0.6rem;
}

.iii-star {
    padding-top: 1rem;
}

.iii-star i {
    display: flex;
    float: left;
    color: #f7be27;
    font-size: 1.4rem
}

.iii-star a {
    float: right;
}

.criispy-detail h2 {
    font-size: 2.4rem;
    color: #642f21;
    padding-left: 0;
    padding-top: 1.6rem;
}

.criispy-detail p {
    font-size: 1.7rem;
    color: #888;
}

.h3a {
    display: flex;
}

.criispy-detail h3 {
    color: #757575;
    font-family: "Oswald";
    font-size: 2rem;
    padding-right: 1rem;
}


.criispy-detail span {
    color: red;
    font-family: "Oswald";
    font-size: 2rem;
    padding-bottom: 0.8rem;
}

/* **********save-up********* */

#save-up {
    margin-top: 10rem;
    background-color: #f7be27;
    position: relative;
    height: 42rem;

}

.save-ups {
    display: flex;
}

.e-shop h2 {
    font-family: "Oswald";
    font-size: 4rem;
    padding-top: 7rem;
    color: #642f21;
    font-weight: 400;
}

.e-shop h3 {
    font-family: "Oswald";
    font-size: 6rem;
    color: #642f21;
}

.e-shop p {
    color: #642f21;
    max-width: 75%;
    font-size: 1.4rem;
}

.e-shop-data img {
    height: 450px;
    position: absolute;
    top: -30px;
    padding-left: 3rem;
    width: 50%;
    object-fit: contain;
}

.app {
    display: flex;
    padding-top: 2rem;
}

.app img {
    width: 30%;
}

.apps img {
    width: 50%;
    padding-left: 1rem;
}

/* ***********imggallary*************** */
#imggallary {
    padding-bottom: 6rem;
}

.img1 {
    row-gap: 1rem;
}

.imges {
    position: relative;
    overflow: hidden;
}

.imges img {
    width: 100%;
}

.imges:hover img {
    transform: scale(1.1);
    transition: all 1s;
}

.imges:hover .point {
    opacity: 1;
}

.point h2 {
    top: 9rem;
    color: white;
    font-size: 2rem;
    font-family: "Oswald";
    margin-left: 2rem;
    font-weight: bold;
}

.point {
    position: absolute;
    top: 11rem;
    opacity: 0;
}

.point span {
    color: white;
    margin-left: 2rem;
    font-weight: bold;
    font-size: 2rem;
}

.point i {
    color: #f7be27;
}

.imggal-2 {
    position: relative;
    overflow: hidden;

}

.imggal-2 img {
    width: 100%;

}

.imggal-2:hover img {
    transform: scale(1.1);
    transition: all 1s;
}

.imggal-2:hover .point {
    opacity: 1;
}

/* ***********scrol-slider************ */

#scrol-slider {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #aaaa;

}

.detail-sliders img {
    height: 20rem;
}

/* **********events******** */
#events {
    padding-bottom: 5rem;
}

.event-data {
    row-gap: 1rem;
    justify-content: space-between;
}

.eve-img {
    overflow: hidden;
}

.eve-img img {
    width: 100%;
    height: 30rem;
}

.eve-img:hover img {
    transform: scale(1.1);
    transition: all 1s;
}

.eve-img-data h2 {
    color: #642f21;
    text-align: center;
    font-family: "Oswald";
    font-size: 2.8rem;
    padding-top: 1rem;
    text-transform: uppercase;
}

.eve-img-data {
    padding: 1rem;
}

.eve-img-data p {
    color: #757575;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-top: 2rem;
}

/* **********map*************** */
#map {
    background-image: url(../img/map.png);
    height: 90vh;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.layer1 {
    position: absolute;
    z-index: 999;
    position: fixed;
    height: 5rem;
    padding: 1.2rem;
    border-radius: 0.6rem;
    top: 30rem;
    right: 1rem;
    font-size: 2rem;
    background-color: red;
    color: white !important;
    opacity: 1;

}

.layer1 i {
    color: white;
}

.layer1:hover {
    background-color: #333;
}

/* *******footer-data****** */

footer {
    padding-top: 7rem;
}

.last-footer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.footer-data {
    padding-bottom: 3rem;

}
 
.footer-data img {
    width: 60%;
}
            
.footer-data p {
    padding-top: 3rem;
    font-weight: bold;
}

.los {
    padding-left: 7rem;
}

.los p {
    font-size: 2.2rem;
    font-weight: bold;
}

.los a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.los span {
    color: #f7be27;
    font-size: 2.5rem;
}

.footerdetail {
    display: flex;
}

.footer-img {
    text-decoration: none;
}

/* .datas ul {
    display: flex;
} */

.footer-img ul li {
    text-decoration: none;
    list-style-type: none;
    height: 32%;
    width: 32%;
}

.footer-img ul li a img {
    height: 100%;
    width: 100%;
}

.datas li {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

.datas li a {
    color: #333;
    display: block;
}

.datas {
    max-width :100%;
}

.datas li a img {
    height: 8rem;
    width: 8rem;
border-radius: 1rem;
}

.re {
    display: flex;
}

