* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.heder-container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding-top: 10px;
}


.abc {
    display: flex;
    margin-left: 180px;
}

header {
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: white;
    width: 100%;
    height: 100px;
}

header::after {
    background: transparent;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

header nav ul li a {
    font-family: "Oswald";
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 0 10px;

}

header nav ul li a:hover {
    color: red;
}

.heder-container img {
    height: 80px;
    max-width: 24%;
}

.container {
    width: 100%;
}

/* ***********hero********* */
#hero {
    position: relative;
}

.heroslider {
    position: relative;
}

.heder-detail {
    position: absolute;
    z-index: 999;
    top: 50px;
    left: 6rem;
    max-width: 80%;

}

.heroslider img {
    width: 100%;
    height: 100vh;
}

.heroslider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.heroslider .swiper-pagination-bullet-active {
    background: #aaa;
    color: white;
    width: 10px;
    height: 10px;
}

.heroslider .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
}

.heder-detail h2 {
    font-size: 7.5rem;
    color: white;
    padding-top: 7rem;
    font-weight: bold;
    font-family: "Lilita One";
    text-align: center;
}

.heder-detail p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2rem;
    font-weight: bold;
}

.heder-detail p span {
    color: #f7be27;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Oswald";

}

.layer {
    position: absolute;
    height: 40px;
    z-index: 999;
    position: fixed;
    height: 50px;
    padding: 10px;
    border-radius: 6px;
    top: 10rem;
    right: 0px;
    font-size: 1.6rem;
    background-color: red;
    color: white !important;
}
.layer i {
    color: white;
}
.layer1 {
    opacity: 0;
}

/* *********about******************* */

#about {
    padding-top: 100px;
    padding-bottom: 100px;
}

.img {
    display: flex;
    height: 600px;
    padding-left: 15px;
    padding-right: 15px;
}

.img-data h2 {
    color: #642f21;
    padding-bottom: 25px;
    font-size: 4.4rem;
    font-weight: 500;
    padding-left: 30px;
    font-family: "Oswald";

}

.img-data p {
    color: #757575;
    font-size: 1.15rem;
    padding-left: 30px;
}

.foods {
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
}

.foods img {
    height: 120px;
    padding: 1rem;
}

.foods h2 {
    font-size: 1.4rem;
    color: black;
    font-family: "Oswald";
    text-align: center;
    padding-left: 1rem;

}

/* *********burger-fries********** */

#burger-fries {
    padding-bottom: 5rem;
}

.bgdata {
    display: flex;
    justify-content: space-between;
}

.chees-fries {
    height: 20rem;
    width: 100%;
    /* position: absolute; */
}


.chees-fries-data {
    /* position: relative; */
    background-image: url(../img/pb-2-1.jpg);
    height: 360px;
    border-radius: 14px;

}

.chees-fries-data h2 {
    color: #6f5e4d;
    font-family: "Oswald";
    font-size: 2.5rem;
    font-weight: 300;
    text-align: right;
    padding: 80px 35px 0px 50px;
    border-radius: 6px;
}

.chees-fries-data h3 {
    color: #6f5e4d;
    font-family: "Oswald";
    font-size: 2.5rem;
    max-width: 60%;
    margin-left: 20rem;
    font-weight: bold;
}

.common-btn {
    height: 47px;
    width: 37%;
    border: none;
    background-color: red;
    font-family: "Oswald";
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 20rem;
    margin-top: 1rem;
    position: relative;
}

.common-btn::before {
    transition: all 1s;
    background-color: white;
    color: red;
    top: 0;
    left: 0;
    position: absolute;
}

.burger-back-data {
    position: relative;
    background-image: url(../img/pb-2-2.jpg);
    border-radius: 14px;
    height: 360px;
}

.burger-back-data h2 {
    color: #6f5e4d;
    padding-top: 5rem;
    font-family: "Oswald";
    font-size: 2.5rem;
    max-width: 60%;
    margin-left: 20rem;
    font-weight: 300;

}

.burger-back-data h1 {
    color: #6f5e4d;
    font-family: "Oswald";
    font-size: 2.5rem;
    max-width: 60%;
    margin-left: 17rem;
    font-weight: bold;

}

/* ******8menu************ */

#menu h2 {
    color: #e3000e;
    font-size: 3.7rem;
    text-align: center;
    font-family: "Oswald";
    text-transform: uppercase;

}

.sub-title {
    color: #888;
    font-size: 1.5rem;
    text-align: center;
    max-width: 43rem;
    margin: 0 auto;
    padding: 1rem 0 3rem;
    font-family: 'Roboto';
    font-weight: 300;
}

.burgur-menu {
    row-gap: 3rem;
}

.menu-data {
    display: flex;
}

.menus-data {
    height: auto;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
}

.money-data {
    padding: 0 14px 15px 14px;
}

.imges-data img {
    width: 100%;
    border-radius: 6px 6px 0 0;
    position: relative;
    overflow: hidden;
}

.imges-data {
    position: relative;
    overflow: hidden;
}

.imges-data span {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, .4);
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.imges-data img:hover {
    transform: scale(1.2);
    transition: all 1s;
    top: 0;
    bottom: 0;
}

.menu-star {
    padding: 10px;
    display: flex;

}

.menu-star i {
    color: #f7be27;

}


.menu-star a i {
    color: #aaa;
    font-weight: 500;
    float: right;
    font-size: 20px;
    padding-left: 8rem;
}

.menu-star a i:hover {
    color: red;

}

.menu-star h3 {
    font-family: "Oswald";
    color: #642f21;
    font-weight: 500;
    font-size: 1.6rem;
    padding: 10px 0 12px 0;
}

.money-data .cilli {
    color: #757575;
    font-size: 16px;
}

.money-data .money {
    height: 35px;
    width: 28%;
    background-color: #642f21;
    border-radius: 7px;
    font-size: 19px;
    text-align: center;
    color: #f7be27;
    font-weight: bold;
}

/* *****the-county*********** */

#the-county {
    background-image: url(../img/backyellow.jpg);
    margin-top: 8rem;
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
}

.county-data {
    padding: 5rem 0 5rem 0;
    float: left;
}

.county-data h3 {
    font-size: 3rem;
    font-weight: 500;
    color: white;
    font-family: "Oswald";
    text-transform: uppercase;
}

.county-data h2 {
    font-size: 6rem;
    font-weight: 500;
    color: white;
    font-family: "Oswald";
    text-transform: uppercase;
    max-width: 40%;
}

.county-data p {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    font-family: "Roboto";
    max-width: 90%;
}

.common-btns {
    height: 47px;
    width: 37%;
    border: none;
    background-color: red;
    font-family: "Oswald";
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0.60rem;

}

.burgers-data {
    padding: 5rem 0 5rem 0;

}

.the-county-data {
    display: flex;
    align-items: center;
}

.burgers-img img {
    height: 450px;
    position: relative;
}

.red-circle {
    background-image: url(../img/red.png);
    top: 110px;
    right: 369px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: red;
    height: 200px;
    width: 195px;

}

.circle-data {
    color: white;
    text-align: center;
    font-family: "Oswald";
    padding-top: 2rem;

}

.circle-data h2 {
    font-family: "Oswald";
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}

.circle-data h2 {
    font-size: 1.8rem;
}


.circle-data h3 {
    font-size: 3rem;
}


.box-burger {
    border: 2px solid rgba(255, 255, 255, .5);
    background-color: transparent;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;

}

.box-burger:hover {
    background-color: #f7be27;
}

.box-burger img {
    height: 100px;
}

.box-burger h2 {
    color: white;
    font-size: 1rem;
    text-align: center;
    padding-top: 1rem;
}

/* ************salad*******************8 */

#salad {
    padding: 8rem;
    margin-left: 5rem;

}

.salad-data {
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    margin-bottom: 3rem;
}

.sal-img img {
    height: 60px;
    align-items: center;
}

.sal-img img:hover {
    color: #e3000e;
}

.sal-img h2 {
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-right: 8.4rem;
    font-family: "Oswald";


}




.salad-img {
    display: flex;
    justify-content: space-between;
}

.imgsalad {
    border: 1px solid #e5e5e5;
    padding: 25px 14px 20px;
    border-radius: 6px;
    position: relative;

}

.imgsalad img {
    height: auto;
    width: 100%;
}



.pay {
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
}

.money {
    background-color: #642f21;
    border-radius: 7px;
    font-size: 19px;
    text-align: center;
    color: #f7be27;
    font-weight: bold;
    padding: 5px;
    margin-right: 1.8rem;

}

.pay i {
    float: right;
    align-items: center;
}

.heart-ican {
    position: absolute;
    top: 5px;
    right: 6px;
}

.heart-ican a i {
    color: #757575;
}

.add-to-cart {
    padding: 15px;
}

.i-star {
    padding-top: 8px;
    color: #f7be27;

}

.add-to-cart h2 {
    color: #642f21;
    font-size: 20px;
    font-family: "Oswald";
    text-align: center;
    text-transform: uppercase;
}

.add-to-cart p {
    color: #283034;
    font-size: 15px;
    text-align: center;
    font-weight: 300;
}

.add {
    height: 50px;
    width: 100%;
    color: black;
    font-family: "Oswald";
    padding: 10px;
    border: 2px solid #aaa;
    background-color: white;
}

.add img {
    height: 30px;
}

.add:hover {
    background-color: #f7be27;
}

/* ***********back*********** */

#back {
    background-image: url(../img/background1img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    margin-bottom: 10rem;
}


.document-slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.document-slider .swiper-slide img {
    display: block;
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    margin-top: 5rem;
}

.document-slider .swiper-slide::after {
    content: " ";
    display: block;
    clear: both;
}


.p-data p {
    color: white;
    text-align: center;
    font-size: 2rem;
    max-width: 85%;
    text-align: center;
    margin: 0 auto;

}

.document-slider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.document-slider .swiper-pagination-bullet-active {
    background: gray;
    width: 10px;
    height: 10px;
}

.p-data img {
    margin: 0 auto;
    height: 110px;
    width: 10%;
    border-radius: 50%;

}

.p-data i {
    color: #f7be27;
    padding-top: 1.5rem;
}

.p-data h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: white;
    padding-top: 1rem;
    font-family: "Oswald";
    padding-bottom: 2rem;
}


/* **********tuna*************** */

.tuna-datas {
    display: flex;
    justify-content: space-between;
    row-gap: 1rem;
    margin-bottom: 5rem;
}

.tuna-detail {
    display: flex;
    position: relative;
    overflow: hidden;
}

.tuna-detail img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
    transition: all 1s;
}

.dd {
    overflow: hidden;
    width: 100%;
}

.tuna-detail:hover img {
    transform: scale(1.1);



}


.tuna-detail span {
    top: 10px;
    left: 28px;
    position: absolute;
    z-index: 999;
    background-color: #f7be27;
    color: white;
    padding: 5px;
    border-radius: 6px;
}

.crispy {
    padding: 10px;
}

.crispy h2 {
    color: #642f21;
    font-size: 20px;
    font-family: "Oswald";

}

.crispy p {
    font-size: 15px;
    color: #888;
}

/* &&&&&&&&&&burger-offe%%% */

.abc {
    justify-content: space-between;
    display: flex;
    row-gap: 1rem;
}

.wer img {
    width: 100%;
    height: 370px;
    margin-bottom: 2rem;
    border-radius: 6px 6px 6px 6px;
}

.fffer-img {}

.wer {
    border-radius: 6px;
    overflow: hidden;
    height: 250px;
}

.wer img {
    width: 100%;
    height: 100%;
}

.wer:hover img {
    transform: scale(1.1);
    transition: all 1s;
    overflow: hidden;
    border-radius: 6px;
}

/* ******best-offer************ */

.main-title {
    text-align: center;
    color: #e3000e;
    font-size: 4rem;
    padding-top: 5rem;
    font-family: "Oswald";

}

.crispy-data {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.crispy-data span {
    position: absolute;
    z-index: 999;
    top: 10px;
    left: 10px;
    background-color: rgba(10, 10, 10, .4);
    color: white;
    padding: 5px;
    border-radius: 6px;
}

.crispy-data img {
    width: 100%;
    border-radius: 6px;
    height: 285px;
    overflow: hidden;

}

.crispy-data img:hover {
    transition: all 1s;
    transform: scale(1.2);
    border-radius: 6px;
}

.iii-star {
    padding-top: 1rem;
}

.iii-star i {
    display: flex;
    float: left;
    color: #f7be27;
}

.iii-star a {
    float: right;
}

.criispy-detail h2 {
    font-size: 2rem;
    color: #642f21;
    padding-left: 0;
    padding-top: 1rem;
}

.criispy-detail p {
    font-size: 1rem;
    color: #888;
}

.h3a {
    display: flex;
}

.criispy-detail h3 {
    color: #757575;
    font-family: "Oswald";
    font-size: 1.7rem;
    padding-right: 10px;
}


.criispy-detail span {
    color: red;
    font-family: "Oswald";
    font-size: 1.7rem;
    padding-bottom: 8px;
}

/* **********save-up********* */

#save-up {
    margin-top: 10rem;
    background-color: #f7be27;
    position: relative;
    height: 420px;

}


.e-shop h2 {
    font-family: "Oswald";
    font-size: 2rem;
    padding-top: 5rem;
    color: #642f21;
    font-weight: 400;
}

.e-shop h3 {
    font-family: "Oswald";
    font-size: 4rem;
    color: #642f21;
}

.e-shop p {
    color: #642f21;
    max-width: 75%;
}

.e-shop-data img {
    height: 450px;
    position: absolute;
    top: -30px;
    padding-left: 3rem;
    width: 50%;
}

.app {
    display: flex;
}

.app img {
    width: 30%;
}

.apps img {
    width: 50%;
    padding-left: 1rem;
}

/* ***********imggallary*************** */
#imggallary {
    padding-bottom: 6rem;
}

.img1 {
    row-gap: 1rem;
}

.imges {
    position: relative;
    overflow: hidden;
}

.imges img {
    width: 100%;
}

.imges:hover img {
    transform: scale(1.1);
    transition: all 1s;
}

.imges:hover .point {
    opacity: 1;
}

.point h2 {
    top: 9rem;
    color: white;
    font-size: 20px;
    font-family: "Oswald";
    margin-left: 20px;
    font-weight: bold;
}

.point {
    position: absolute;
    top: 11rem;
    opacity: 0;
}

.point span {
    color: white;
    margin-left: 20px;
    font-weight: bold;
}

.point i {
    color: #f7be27;
}

.imggal-2 {
    position: relative;
    overflow: hidden;

}

.imggal-2 img {
    width: 100%;

}

.imggal-2:hover img {
    transform: scale(1.1);
    transition: all 1s;
}

.imggal-2:hover .point {
    opacity: 1;
}

/* ***********scrol-slider************ */

#scrol-slider {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #aaaa;

}

.detail-sliders img {
    height: 200px;
}

/* **********events******** */
#events {
    padding-bottom: 5rem;
}

.event-data {
    row-gap: 1rem;
}

.eve-img {
    overflow: hidden;
}

.eve-img img {
    width: 100%;
    height: 300px;
}

.eve-img:hover img {
    transform: scale(1.1);
    transition: all 1s;
}

.eve-img-data h2 {
    color: #642f21;
    text-align: center;
    font-family: "Oswald";
    font-size: 1.8rem;
    padding-top: 1rem;
    text-transform: uppercase;
}

.eve-img-data {
    padding: 1rem;
}

.eve-img-data p {
    color: #757575;
    text-align: center;
    text-transform: uppercase;
}

/* **********map*************** */
#map {
    background-image: url(../img/map.png);
    height: 100vh;
    width: 100%;
    position: relative;

}

.layer1 {
    position: absolute;
    z-index: 999;
    position: fixed;
    height: 50px;
    padding: 12px;
    border-radius: 6px;
    top: 30rem;
    right: 10px;
    font-size: 1.6rem;
    background-color: red;
    color: white !important;
    opacity: 1;

}
.layer1 i {
    color: white;
}

.layer1:hover {
    background-color: #333;
}

/* *******footer-data****** */

footer {
    padding-top: 7rem;
}

.footer-data {
    padding-bottom: 3rem;

}

.footer-data img {
    width: 60%;
}

.footer-data p {
    padding-top: 3rem;
    font-weight: bold;
}

.los {
    padding-left: 7rem;
}

.los p {
    font-size: 1.2rem;
    font-weight: bold;
}

.los a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.los span {
    color: #f7be27;
    font-size: 1.5rem;
}

.footerdetail {
    display: flex;
}

.footer-img {
    text-decoration: none;
}

.datas ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;
}

.footer-img ul li {
    text-decoration: none;
    list-style-type: none;
    height: 32%;
    width: 32%;
}

.footer-img ul li a img {
    height: 100%;
    width: 100%;
}

.datas li {
    text-decoration: none;
    list-style-type: none;
}

.datas li a {
    color: #333;
    display: block;
}

.datas {
    max-width: 80%;
}

.datas li a img {
    height: 75px;
    width: 75px;
    border-radius: 5px;
    float: left;
}

.re {
    display: flex;
}