* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heder-container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    margin-top: 35px;
}


header {
    position: fixed;
    top: 0;

}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li a {
    font-family:"Oswald" ;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 0 10px;
    
}

header nav ul li a:hover {
    color: red;
}
header  img {
    height: 100px;
    max-width: 24%;
}

/* ***********hero********* */

.container {
    width: 100%;
}

#hero {
    height: 100%;
    width: 100%;

}

#hero .container {
    background-image: url(../img/burger\ img.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 100vh;
}